.menu {
    display: flex;

    ul {
        display: flex;
        margin: 25px;

        li {
            margin-inline: 0 1rem;
            margin-right: 50px;
        }
        a {
            text-decoration: none;
            color: white;
            font-weight: bolder;
            &:hover {
                color: rgba(73, 132, 242, 0.586);
            }
        }
    }
}
