footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    justify-content: center;
    position: absolute;
    padding-block: 1rem;
    cursor: default;
}
